node_modules
.env
coverage
coverage.json
typechain
typechain-types

# Hardhat files
cache
artifacts

scripts/tokenlist.py
scripts/tokenholders.py
scripts/getHolders.js
xfer.json
tokenholders.json
export-token.csv
